body {
  /* background-image: linear-gradient(120deg, #a305a3 0%, #b958c2 100%); */
  /* background-image: linear-gradient(120deg, #7C4B95 0%, #f3a5fa 100%); */
  background-color: #7C4B95;
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



